<html>
<body style="font-family: 'Roboto'; font-size: 16pt">
<div style="width: 600px; display: flex; flex-direction: column; align-items: center; align-content: center">

  <div
    style="
transform: scale(2);
padding: 0;
margin: 0;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
"
  >
    <svg width="393" height="370" viewBox="0 0 393 370" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M230.715 39.9566C215.921 12.9125 177.079 12.9125 162.285 39.9566L24.1164 292.533C9.89916 318.523 28.7072 350.25 58.3316 350.25H334.668C364.293 350.25 383.101 318.523 368.884 292.533L230.715 39.9566Z" stroke="#6366F1" stroke-width="38" stroke-linejoin="round"/>
	</svg>
  </div>


  <h2>{{fullName}}, ваша бронь успешно создана!</h2>
  <p>Вы забронировали {{realtyName}} в городе <b>{{realtyCity}}</b> на период  <i>с {{startDate}} по {{endDate}}</i></p>

  <p>Итоговая стоимость проживания составляет <b>{{price}}</b></p>

  <p>По приходу к месту назначение назовите секретный код ниже, чтобы хозяин недвижимости понял что это Вы и смог подтвердить ваш приезд.</p>

  <h3>{{code}}</h3>

  <p>С уважением, команда <b>HomeGuru</b>!</p>
</div>
</body>
</html>